{% extends "base.html" %}

{% block title %}Catalog{% endblock %}
{% block head %}
{{ super() }}
<!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="//apis.google.com/js/platform.js?onload=start"></script>
<!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->
{% endblock %}

{% block content %}
<div class="row d-flex justify-content-center">
    <div class="col-4 d-flex flex-column-reverse ">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert {{ category }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
</div>

<div class="row">
    <div class="col-4">
        <div class="card mb-3">
            <div class="card-header d-flex justify-content-between">
                <h5>Categories</h5>
                <a class="btn btn-primary btn-sm" href="{{url_for('home.new_category_html')}}">
                    <i class="fas fa-plus-square"></i>
                    New
                </a>
            </div>
            <div class="card-body px-0 py-0">
                <div class="list-group">
                    {% for category in categories %}
                    <a href="{{ url_for('home.show_category_html', category=category.name) }}" class="list-group-item list-group-item-action">{{category.name}}</a>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
    <div class="col-8">
        <div class="card mb-3">
            <div class="card-header d-flex justify-content-between">
                <h5>Latest Items</h5>
            </div>
            <div class="card-body px-0 py-0">
                <ul class="list-group">
                    {% for item in latest_items %}
                    <li class="list-group-item">{{item.name}} <span style="color:gray">({{item.category.name}})</span></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Auto dismiss alerts after 4 sec -->
<script>
    $(".alert").delay(4000).slideUp(200, function () {
        $(this).alert('close');
    });
</script>


{% endblock %}