{% extends "base.html" %}

{% block title %}Catalog{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card mb-3">
            <div class="card-header">
                <h5>{{ item.name }}</h5>
            </div>
            <div class="card-body">
                <p>{{ item.description }}</p>
                {% if editable %}
                <a href="{{url_for('home.edit_item_html', category=item.category.name, item=item.name)}}">Edit</a>
                <span> | </span>
                <a href="{{url_for('home.del_item_html', category=item.category.name, item=item.name)}}">Delete</a>
                {% endif %}
            </div>
            <div class="card-footer text-muted">
                    Created by <i>{{creator.name}}</i>
            </div>
        </div>

    </div>
</div>



{% endblock %}