{% extends "base.html" %}

{% block title %}Catalog{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-4">
        <div class="card mb-3">
            <div class="card-header">
                <h5>Categories</h5>
            </div>
            <div class="card-body px-0 py-0">
                <div class="list-group">
                    {% for category in categories %}
                    <a href="{{ url_for('show_category_html', category=category.name) }}" class="list-group-item list-group-item-action {% if category.name==active_category.name %} list-group-item-primary {% endif %}">
                        {{category.name}}
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
    <div class="col-8">
        <div class="card bg-light mb-3">
            <div class="card-header d-flex justify-content-between">
                <h5>{{ active_category.name }} Items ({{ active_category.items_count }} items)</h5>
                <a class="btn btn-primary btn-sm" href="{{url_for('new_item_html', category=active_category.name)}}">
                    <i class="fas fa-plus-square"></i>
                    New
                </a>
            </div>
            <div class="card-body px-0 py-0">
                <div class="list-group">
                    {% for item in active_category.items %}
                    <a href="{{ url_for('show_item_html', category=active_category.name, item=item.name) }}" class="list-group-item list-group-item-action">
                        {{item.name}}
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}